<!-- <div class="center">
    <div class="col-md-6">
      <form>
          <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-3 col-form-label">Title</label>
          <div class="col-sm-9">
              <input type="email" nbInput fullWidth id="title" placeholder="Title" [(ngModel)]="event.title"
              [ngModelOptions]="{standalone: true}" required>
          </div>
          </div>
          <div class="form-group row">
          <label for="inputPassword2" class="label col-sm-3 col-form-label">Date</label>
          <div class="col-sm-9">
              <input type="date" nbInput fullWidth id="date" placeholder="Password" [(ngModel)]="event.date"
              [ngModelOptions]="{standalone: true}" required>
          </div>
          </div>
          <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                  <button type="submit" nbButton status="primary" (click)="saveEvent()">Add Event</button>
              </div>
          </div>
      </form>
    </div> -->

    
<div id="example-header-image" class="container-fluid">
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <mat-card class="example-card">
          <mat-card-title> 
             <h1 class="text-center login-user"> Plannifer</h1>
          </mat-card-title>
         <mat-card-content>
            <mat-form-field class="example-full-width">
                <mat-label>title</mat-label>
                <input type="text" matInput placeholder="Title" value="" [(ngModel)]="event.title">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Date</mat-label>
                <input type="date" matInput placeholder="Date" [(ngModel)]="event.date">
              </mat-form-field>
              <button type="button" mat-button color="primary" (click)="saveEvent()">Planifier</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  

