<div></div>
&nbsp;&nbsp;
&nbsp;&nbsp;<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Ex. ium">
</mat-form-field>
<div>

  &nbsp;&nbsp;<button mat-raised-button  (click)="exporter.exportTable('xlsx', {fileName:'data'})">Excel</button>
  &nbsp;&nbsp;<button mat-raised-button  (click)="exporter.exportTable('csv', {fileName:'data'})">Csv</button>
  &nbsp;&nbsp;<button mat-raised-button  (click)="exporter.exportTable('json', {fileName:'data'})">Json</button>
  &nbsp;&nbsp;<button mat-raised-button  (click)="exporter.exportTable('txt', {fileName:'data'})">Txt</button>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
 <div fxLayoutAlign="center center">
  <mat-form-field appearance="outline"  fxFlex="100" class="search-form">
    <input matInput  placeholder="Filter"  id="filter" class="full-width-form">
  </mat-form-field>
  
 </div>
 <div fxLayoutAlign="center center">
  <button mat-raised-button  color="primary">Search</button>
 </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table  class="full-width-table" matTableExporter [dataSource]="donnees" matSort aria-label="Elements" #exporter="matTableExporter">
    <ng-container matColumnDef="item_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Number</th>
      <td mat-cell *matCellDef="let row">{{row.item_number}}</td>
    </ng-container>
    <ng-container matColumnDef="item_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item name</th>
      <td mat-cell *matCellDef="let row">{{row.item_name}}</td>
    </ng-container>
    <ng-container matColumnDef="besoin_net">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Besoin Net</th>
      <td mat-cell *matCellDef="let row">{{row.besoin_net}}</td>
    </ng-container>
    <ng-container matColumnDef="besoin_cumulee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Besoin Cumulee</th>
      <td mat-cell *matCellDef="let row">{{row.besoin_cumulee}}</td>
    </ng-container>
    <ng-container matColumnDef="planning_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de commande</th>
      <td mat-cell *matCellDef="let row">{{row.planning_date}}</td>
    </ng-container>
    <ng-container matColumnDef="semaine_prod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Semaine Production</th>
      <td mat-cell *matCellDef="let row">{{row.semaine_prod}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="5"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
