<!-- <div class="container" fxLayout="row" fxLayout.xs="column"  fxLayoutGap="10px">
  <mat-form-field appearance="outline"  class="search-form">
    <mat-label>Filter</mat-label>
    <input matInput id="Filter" placeholder="Ex. ium">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="filter()">Filtrer</button>
  <div class="container-btn" fxLayoutAlign="right" fxLayout="row" fxLayoutGap="15px">
    <button mat-raised-button  (click)="exporter.exportTable('xlsx', {fileName:'data'})">Excel</button>
    <button mat-raised-button  (click)="exporter.exportTable('csv', {fileName:'data'})">Csv</button>
  </div>
 
</div> -->
<!-- <div class="container" fxLayout="row" fxLayout.xs="column"  fxLayoutGap="10px">
  <mat-form-field appearance="outline"  class="search-form">
   <input matInput id="Filter" placeholder="Ex. ium">
  </mat-form-field>
  <button mat-raised-button class="flex justify-content-center align-item-center"color="primary" (click)="filter()">Filtrer</button>
  <div class="flex flex-wrap flex-column">
    <div class="flex justify-content-around">
    <button mat-raised-button color="accent" (click)="exporter.exportTable('xlsx', {fileName:'data'})">Excel</button>
    <button mat-raised-button  color="danger" (click)="exporter.exportTable('csv', {fileName:'data'})">Excel</button>
    </div>
  </div>
</div> -->
  <div class="mat-elevation-z8">
    <!-- <table-header></table-header> -->
    <table mat-table  class="full-width-table" matTableExporter [dataSource]="donnees" matSort  [hiddenColumns]="[1]" #exporter="matTableExporter">
      <ng-container matColumnDef="item_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Number</th>
        <td mat-cell *matCellDef="let row">{{row.item_number}}</td>
      </ng-container>
      <ng-container matColumnDef="item_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
        <td mat-cell *matCellDef="let row">{{row.item_name}}</td>
      </ng-container>
      <ng-container matColumnDef="order_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Number</th>
        <td mat-cell *matCellDef="let row">{{row.order_number}}</td>
      </ng-container>
      <ng-container matColumnDef="planning_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de commande</th>
        <td mat-cell *matCellDef="let row">{{row.planning_date | date:'shortDate'}}</td>
      </ng-container>
      <ng-container matColumnDef="semaine_cmd">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Semaine Date</th>
        <td mat-cell *matCellDef="let row">{{row.semaine_cmd}}</td>
      </ng-container>
      <ng-container matColumnDef="semaine_prod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Semaine Production</th>
        <td mat-cell *matCellDef="let row">{{row.semaine_prod}}</td>
      </ng-container>
      <ng-container matColumnDef="BesoinNet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Besoin Net</th>
        <td mat-cell *matCellDef="let row">{{row.BesoinNet}}</td>
      </ng-container>
      <ng-container matColumnDef="BesoinBrut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Besoin Brute</th>
        <td mat-cell *matCellDef="let row">{{row.BesoinBrut}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator
        [length]="dataSource?.donnees?.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
  </mat-paginator>
</div>


