
<div id="example-header-image" class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col-md-6 col-sm-8">
      <mat-card class="example-card">
        <mat-card-title> 
           <h1 class="text-center login-user"> Register </h1>
        </mat-card-title>
            <i class="material-icons md-48">people_alt</i>
       <mat-card-content>
          <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email" required="true">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>username</mat-label>
              <input type="text" matInput placeholder="Username" value="" [(ngModel)]="username" required="true">
              <mat-icon matSuffix>people</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" [(ngModel)]="password" required="true">
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button type="button" mat-button color="primary" (click)="login()">Sign In</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

 
  