 <div id="example-header-image" class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <mat-card class="example-card">
        <mat-card-title> 
           <h1 class="text-center login-user"> Register</h1>
        </mat-card-title>
        <i class="material-icons md-48">account_circle</i>
       <mat-card-content>
          <form [formGroup]="formRegister">
            <mat-form-field class="example-full-width">
              <mat-label>Nom utilisateur :</mat-label>
              <input type="text" matInput required formControlName="username" placeholder="Enter votre nom utilisateur">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email : </mat-label>
              <input type="email" matInput required formControlName="email" placeholder="placer votre email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Mot de passe : </mat-label>
              <input type="password" matInput required formControlName="password" placeholder="placer votre email" >
            </mat-form-field>
            <button type="button" mat-button id="btn-register" color="primary" (click)="register()"> Enregistrer </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
