<mat-sidenav-container class="contenu">
  <mat-sidenav-content>
         <div class="col-md-12">
      <br>
       <mat-card-title class="mr-auto p-2">
           Le carnet de commande
      </mat-card-title>
     <div class="flex flex-row flex-wrap card-container">
       <div class="col-6">
         <mat-card class="card-statics">
           <div class="statics">
             <h2 class="card-title"> Total des commandes
               <mat-icon class="d-flex ml-auto p-0">trending_up</mat-icon> 
               <span> {{this.totalAnnee}} </span></h2>
               <hr>
          <p class="text-left year"> <b>Stockées</b></p> 
           </div>
  
         </mat-card>  
       </div>
       <div class="col-6">
         <mat-card class="card-statics">
           <div class="statics">
             <h2 class="card-title">  Total Commandes 
               <mat-icon class="d-flex ml-auto p-0">trending_up</mat-icon> 
               <span class="flex flex-end"> {{this.totalAnneem}} </span></h2> 
               <hr>
          <p class="text-left month"> <b>En 2022</b></p>  
           </div>
         </mat-card>
       </div>
       
     </div>
    </div>
   <br><br>
     <div class="col-md-11 ml-6">
  
           <app-table-d></app-table-d>      
     </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>
