mat-toolbar {
    background-color: black;
    color: white;

    
}
.example-spacer {
    flex: 1 1 auto;
}
.contenu {
    background-color: lightgray;
    /* background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #A100FFFF 0%, #71C4FFFF 100%); */
}
.year {
  color: blue; text-align: center;
}
.semaine {
  color: green;
  text-align: center;
}
.mois {
   color: red;
   text-align: center;
}