<mat-sidenav-container id="sidenav-container" class="sidenav-container">
  <mat-sidenav-content>
    <br>
    <div class="title-interface  flex justify-content-around">
      <h1 class="title text-center text-bold">Reporting et tableau de bord</h1>
    </div>
  <div class="Current-week ml-3">
    <h1 class="title">
      Le numéro de la semaine courante est : {{this.datepipeWeek}}
    </h1>
  </div>
    <div class="flex flex-row flex-wrap card-container">
      <div class="col-3">
        <mat-card class="card-statics-1">
          <div class="statics">
            <h2 class="card-title"> Total des retards	
              <mat-icon class="d-flex ml-auto p-0">trending_up</mat-icon> 
              <span>{{this.retardAnnee}}</span></h2> 
          </div>
          <hr>
          <p class="text-left"> <b>Par Année</b></p> 
        </mat-card>  
      </div>
      <div class="col-3">
        <mat-card class="card-statics-1">
          <div class="statics">
            <h2 class="card-title">  Total des retards
              <mat-icon class="d-flex ml-auto p-0">trending_up</mat-icon> 
              <span>{{this.retardMois}}</span> </h2>  
          </div>
          <hr>
          <p class="text-left"> <b>Par Mois</b></p>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card  class="card-statics-1">
          <div class="statics">
            <h2 class="card-title"> Total des Retards
              <mat-icon class="d-flex ml-auto p-0">trending_down</mat-icon>
               <span>{{this.retardSemaine}}</span></h2>  
          </div>
         <hr>
         <p class="text-left"> <b>Par Semaine</b></p>
        </mat-card>
      </div>
    
      <div class="col-3">
        <mat-card class="card-statics-1">
          <div class="statics">
            <h2 class="card-title">  Total des événements
              <mat-icon class="d-flex ml-auto p-0">trending_up</mat-icon> 
              <span>{{this.totalevents}}</span> </h2>  
          </div>
          <hr>
          <p class="text-left"> <b>Enregistrés</b></p>
        </mat-card>
      </div>
     
  </div>
  <br>
   <div class="col-md-12 flex justify-content-around">
     <div class="col-md-3 col-sm-6">
      <mat-card class="mat-elevation-z8">
       <p-chart type="pie" [data]="data"></p-chart>

      </mat-card>

     </div>
     <div class="col-md-6 col-sm-6">
       <mat-card class="mat-elevation-z8">
        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
       </mat-card>
     </div>

</div>
<div class="col-12">
  <app-dashboard-data></app-dashboard-data>
</div>

  </mat-sidenav-content>
</mat-sidenav-container>