<mat-sidenav-container id="sidenav-container" class="sidenav-container">
  <mat-sidenav #drawer id="sidenavbar" class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Stock</a>
      <a mat-list-item href="#">Commande</a>
      <a mat-list-item href="#">Profile</a>
      <a mat-list-item href="#">Date</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Znautec</span>
    </mat-toolbar>

     <app-data></app-data>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
