<mat-sidenav-container id="sidenav-container" class="sidenav-container">
  <mat-sidenav #drawer id="sidenavbar" class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu <mat-icon class="mat-icon d-flex ml-auto p-1">menu</mat-icon> </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Dashboard  <mat-icon class="mat-icon d-flex ml-auto p-1">dashboard</mat-icon> </a>

      <a mat-list-item routerLink="/stock">Stock  <mat-icon class="mat-icon d-flex ml-auto p-1">bookmark_border</mat-icon> </a>
      <a mat-list-item routerLink="/commande">Commande   <mat-icon class="mat-icon d-flex ml-auto p-1">shop_two</mat-icon></a>
      <!-- <a mat-list-item routerLink="/profile">Profile  	<mat-icon class="mat-icon d-flex ml-auto p-1">perm_identity</mat-icon> </a> -->
      <a mat-list-item routerLink="/users">Compte	<mat-icon class="mat-icon d-flex ml-auto p-1">perm_identity</mat-icon> </a>
      <a mat-list-item routerLink="/date"> Calendrier <mat-icon class="mat-icon d-flex ml-auto p-1">date_range</mat-icon> </a>
      <!-- <a mat-list-item routerLink="/pdp"> PDP <mat-icon class="mat-icon d-flex ml-auto p-1">date_range</mat-icon> </a> -->
       
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="sidenvar-content">
    <mat-toolbar id="toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ZODIAC MARINE</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="/login" (click)='logout()'><mat-icon>logout</mat-icon></button>
    </mat-toolbar>
    <!-- <app-home></app-home> -->
    <br>
    <div class="Current-week ml-3">
      <h1 class="title">
        Le numéro de la semaine courante est : {{this.datepipeWeek}}
      </h1>
    </div>
      <div class="flex flex-row flex-wrap card-container">
        <div class="col-3">
          <mat-card class="card-statics-1">
            <div class="statics">
              <h2 class="card-title"> Total des retards	
                <i class="fa-solid fa-sigma d-flex ml-auto p-0"></i>
                <span>{{this.retardAnnee}}</span></h2> 
            </div>
            <hr>
            <p class="text-center" id="year"> <b>Par Année</b></p> 
          </mat-card>  
        </div>
        <div class="col-3">
          <mat-card class="card-statics-1">
            <div class="statics">
              <h2 class="card-title">  Total des retards
                <i class="fa-solid fa-sigma d-flex ml-auto p-0"></i>
  
                <!-- <mat-icon class="d-flex ml-auto p-0">trending_up</mat-icon>  -->
                <span>{{this.retardMois}}</span> </h2>  
            </div>
            <hr>
            <p class="text-center" id="month"> <b>Par Mois</b></p>
          </mat-card>
        </div>
        <div class="col-3">
          <mat-card  class="card-statics-1">
            <div class="statics">
              <h2 class="card-title"> Total des Retards
                <i class="fa-solid fa-sigma d-flex ml-auto p-0"></i>
  
                <!-- <mat-icon class="d-flex ml-auto p-0">trending_down</mat-icon> -->
                 <span>{{this.retardSemaine}}</span></h2>  
            </div>
           <hr>
           <p class="text-center" id="week"> <b>Par Semaine</b></p>
          </mat-card>
        </div>
      
        <div class="col-3">
          <mat-card class="card-statics-1">
            <div class="statics">
              <h2 class="card-title">  Total des événements
                <i class="fa-solid fa-sigma d-flex ml-auto p-0"></i>
  
                <!-- <mat-icon class="d-flex ml-auto p-0">trending_up</mat-icon>  -->
                <span>{{this.totalevents}}</span> </h2>  
            </div>
            <hr>
            <p class="text-center" id="event"> <b>Enregistrés</b></p>
          </mat-card>
        </div>
       
    </div>
    <br>
     <div class="col-md-12 col-sm-12 flex justify-content-between">

       <div class="col-md-4 col-sm-4">
        <mat-card class="mat-elevation-z8">
         <p-chart type="pie" [data]="data"></p-chart>
        </mat-card>
      </div>

       <div class="col-md-8 col-sm-4">
         <mat-card class="mat-elevation-z8">
          <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
         </mat-card>
       </div>
  </div>
<br>
<div class="container-fluid">
  <div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="search"  autocomplete="off" (keyup)='filterData($event)' />
    </mat-form-field>
  </div>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="item_number">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Item Number </th>
      <td mat-cell *matCellDef="let element"> {{element.item_number}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="item_name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Item Name </th>
      <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
    </ng-container>
    <ng-container matColumnDef="calendar_year">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Calendar Year </th>
      <td mat-cell *matCellDef="let element"> {{element.calendar_year}} </td>
    </ng-container>

    <ng-container matColumnDef="planning_date">
      <th mat-header-cell mat-sort-header  *matHeaderCellDef> Planning_date </th>
      <td mat-cell *matCellDef="let element"> {{element.planning_date | date: 'shortDate'}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="week">
      <th mat-header-cell  mat-sort-header *matHeaderCellDef> Week </th>
      <td mat-cell *matCellDef="let element"> {{element.week}} </td>
    </ng-container>
  
    <!-- Week Column -->
    <ng-container matColumnDef="week_prod">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Week Production</th>
      <td mat-cell *matCellDef="let element"> {{element.week_prod}} </td>
    </ng-container>
  
    <ng-container matColumnDef="month">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Month </th>
      <td mat-cell *matCellDef="let element"> {{element.month}} </td>
    </ng-container>
    
    <ng-container matColumnDef="StatusCommande">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Status Commande </th>
      <td mat-cell *matCellDef="let element"> {{element.StatusCommande}} </td>
    </ng-container>
    <ng-container matColumnDef="BesoinBrut">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Besoin Brut </th>
      <td mat-cell *matCellDef="let element"> {{element.BesoinBrut}} </td>
    </ng-container>
    <ng-container matColumnDef="BesoinNet">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Besoin Net </th>
      <td mat-cell *matCellDef="let element"> {{element.BesoinNet}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="order_number">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Order Number </th>
      <td mat-cell *matCellDef="let element"> {{element.order_number}} </td>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20, 30]">
  </mat-paginator>
</div>
<br>
    </mat-sidenav-content>
    </mat-sidenav-container>










































