<!-- <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->
<div class="container-fluid">
 <div class="col-md-6">
  <mat-tab-group>
    <mat-tab label="First"> 
      
    </mat-tab>
    <mat-tab label="Second"> Février</mat-tab>
    <mat-tab label="Third"> Mars </mat-tab>
    <mat-tab label="Fourth"> Avril </mat-tab>
    <mat-tab label="Fifith"> Mai </mat-tab>
    <mat-tab label="Sixth"> Juin </mat-tab>
    <mat-tab label="Seventh"> Juilliet </mat-tab>
    <mat-tab label="Eigth"> Aout </mat-tab>
    <mat-tab label="Fineth"> Septembre </mat-tab>
    <mat-tab label="Tenth"> Octobre </mat-tab>
    <mat-tab label="Eleventh"> Novembre </mat-tab>
    <mat-tab label="Twelveth"> Decembre </mat-tab>
     (
       *
     )

  </mat-tab-group>
</div>
</div>
  