.example-spacer {
    flex: 1 1 auto;
  }
  #toolbar {
    color: white;
    background-color:black;
  }
 
  #card-container {
    background-color: #8fbcdb;
    color: white;
  }
  p.text-center {
    font-weight:600;
  }
  .sidenav-container {
    height: 100%;
  }
  #sidenav-container{
   
    background-color: rgba(221, 222, 222, 0.986);
  }
  .sidenav {
    width: 200px;
  }
  #sidenavbar {
    background-color: #ffc1c3;
    color:black;  
  }
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .content{
    width: 100%;
    height:100%;
  }

  /* #sidenav-content {
    background-color:#71C4FFFF;
  } */
  .bad{
  color:rgb(244, 115, 115);
}
.good{
  
  color:#35c396;
}
.stock{
color:rgb(170, 211, 240);
}

tr#table-row, td#table-cell{

  border-bottom: 2px solid #f9f9f9;
  background-color: white;
  width: 100%;
  height:6vh;
}
/* td#table-cell {
  border: 2px solid black;
  width: 100%;
}
div.paginator-table,#paginator-table {
  border: none transparent;
  width:100vh;
   
}
tbody.tbody {
  border: none transparent;
}
#search-input {
  width:80%;
  height:4vh;
}
.table-head {
  height: 5vh;
} */
.mat-elevation-z8 {
  width:100%
}