.example-spacer {
    flex: 1 1 auto;
  }
  #toolbar {
    color: white;
    background-color:black;
  }
 
  #card-container {
    background-color: #8fbcdb;
    color: white;
  }
  #sidenav-container{
    
    background-color: rgb(197, 222, 241);
  }
  
  p.text-center {
    font-weight:600;
  }
  .sidenav-container {
    height: 100%;
  }
  #sidenav-container{
   
    background-color: rgb(197, 222, 241);
  }
  .sidenav {
    width: 200px;
  }
  #sidenavbar {
    background-color: #ffc1c3;
    color:black;  
  }
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .content{
    width: 100%;
    height:100%;
  }

  #sidenav-content {
    background-color:#71C4FFFF;
  }
  .bad{
  color:rgb(244, 115, 115);
}
.good{
  
  color:#35c396;
}
.stock{
color:rgb(170, 211, 240);
}