<!-- <mat-toolbar id="toolbar">
    <mat-toolbar-row>
        <span>Calendar</span> 
        <span class="example-spacer"></span>
        <button mat-button routerLink="/home">Home</button>
        <mat-icon>notifications</mat-icon>

      </mat-toolbar-row>
</mat-toolbar> -->

<mat-sidenav-container id="contenu">
    <mat-sidenav-content>
       <div class="row">
        <div class="interface-title flex justify-content-around">
            <h1 class="title">Calendrier</h1>
            <!-- <span class="example-spacer"></span> -->
             <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
        </div>
       </div>
        <div class="col-12 col-md-12 col-sm-12 flex justify-content-lg-between justify-content-between justify-sm-content-around">
            <div class="col-10 col-md-10 col-sm-10">
            <full-calendar [options] ="calendarOptions"></full-calendar> 
            </div>
            <div class="col-2 col-md-2 col-sm-2 flex flex-column">
                <div class="flex align-items-center m-2">
                    <button mat-raised-button color="accent"class="text-center" (click)="addEvent()"> Add Event  &nbsp;&nbsp;&nbsp;</button>
                </div>
                <div class="flex align-items-center m-2">
                    <!-- <button mat-raised-button color="primay" (click)="search()">Search Event</button> -->
                    <div class=""></div>
                </div>              
            </div>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>

