.example-icon {
    padding: 0 14px;
  }
.example-spacer {
    flex: 1 1 auto;
}
.card-container {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(90deg, #A100FFFF 0%, #71C4FFFF 100%);
}