<!-- <div class="row">
<div class="col-md-6">
    <button type="button" nbButton outline status="success" routerLink="/add-event">Add Event</button>
</div>
<hr>
</div>
<full-calendar [options] ="calendarOptions"></full-calendar> -->
<mat-toolbar id="toolbar">
    <mat-toolbar-row>
        <span>Calendar</span> 
        <button mat-button routerLink="/home">Home</button>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
</mat-toolbar>

<div class="flex flex-row flex-wrap card-container">
   
    <div class="col-10">
        <full-calendar [options] ="calendarOptions"></full-calendar> 
    </div>
    <div class="col-2">
        <button mat-raised-button color="accent" (click)="addEvent()">Add Event</button>
    </div>
</div>

