
<div id="example-header-image" class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col-md-6 col-sm-8">
      <mat-card class="example-card">
        <mat-card-title> 
           <h1 class="text-center login-user"> Login </h1>
        </mat-card-title>
        <i class="material-icons md-48">account_circle</i>
       <mat-card-content>
    
          <form class="form-horizontal" [formGroup]="formLogin">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email"  matInput required formControlName="email" placeholder="Enter votre adresse email">
            </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <mat-label>Password </mat-label>
                <input type="password"   matInput required formControlName="password" placeholder="placer votre mot de passe" >
              </mat-form-field>
  
            <button type="submit" mat-button color="primary" (click)="login()"> Login </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
