mat-toolbar {
    background-color: black;
    color: white;
}
.contenu{
    /* background-color: lightgray; */
    background-color: rgb(197, 222, 241);

}
.example-spacer {
    flex: 1 1 auto;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    justify-items: center;
    margin-right:20px;
  }
.content {
    padding: 16px;
    /* background-color:#CD88AF; */
    background-color:#CCD1E4;

}
.content > mat-card{
  width: 200px;
} 
.card-container {
    background-color: lightgrey;
    color : red;
}