<mat-toolbar id="toolbar">
    <mat-toolbar-row>
        <span>Profile Admin</span>
        <span class="example-spacer"></span>
        <div class="btns flex flex justify-content-center">
            <button mat-button routerLink="/home">Home</button>
            <button mat-button routerLink="/commande">Commande</button>
            <button mat-button routerLink="/stock">Stock</button>
            <button mat-button routerLink="/date">Plannifier</button>
        </div>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="showSuccess()">
            <mat-icon>notifications</mat-icon>
          </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="conteu">
    <mat-sidenav-content>
        
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7,8]">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>Account User {{num}}</mat-card-title>
                </mat-card-header>
                <img alt="l'image n'a pas été affichée" src="../../../assets/Images/FriendlyInteraction.png" mat-card-image/>
                <mat-card-content>
                    <p>
                        Hello User from teste card
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary">LIKE </button>
                    <button mat-button color="accent">SHARE</button>
        
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    
</div> -->

<!-- <app-footer></app-footer> -->