.example-spacer {
    flex: 1 1 auto;
}
#toolbar {
    background-color:  #2F3A8F;
}
.content {
    padding: 16px;
    /* background-color:#CD88AF; */
    background-color:#CCD1E4;

}
.content > mat-card{
  width: 200px;
} 
#footer {
    background-color: rgb(8, 8, 17);
    background-color: #FE7E6D;
    color: white;
} 
.text {
    text-align:center;
}
.example-spacer-2 {
    flex: 0.5 0.5 auto;
}