.example-spacer {
    flex: 1 1 auto;
}
/* #toolbar {
    background-color:  black;
    color: white;
} */
.content {
    padding: 16px;
    /* background-color:#CD88AF; */
    background-color:#CCD1E4;

}
.content > mat-card{
  width: 200px;
} 
.card-container {
    background-color: lightgrey;
    color : red;
}